.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 70px 200px;
    grid-template-rows: 90px 90px 90px 90px 10px;
    row-gap: 10px;
    column-gap: 10px;  
}

.grid-item-1{
    background-color: #eb5020;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 300px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-2{
    background-color: #ffa401;
    grid-row: span 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-3{
    background-color: #05aa42;
    grid-row-start: 3;
    grid-row-end: 6;
}

.grid-item-4{
    background-color: #01aefd;
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-item-5{
    background-color: #01aefd;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}